.main {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  padding: var(--px-16);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: start;
  gap: var(--px-16);

  .title {
    width: 100%;
    padding: var(--px-8) var(--px-16);

    background-color: var(--soft);
    border-radius: var(--px-16);
    border: 2px solid var(--primary);

    box-shadow: 1px 1px 2px var(--gray-600);

    > h1 {
      font-size: var(--fs-8);
      font-weight: 600;
      color: var(--primary);
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      position: relative;

      .titleIcon {
        position: absolute;
        right: var(--px-16);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .panelContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--px-16);
    align-items: center;
    justify-content: center;

    .panelCard {
      flex: 1;
      min-width: 150px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: var(--px-24);
      border-radius: var(--px-16);
      border: 1px solid;

      box-shadow: 1px 1px 2px var(--gray-500);
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);

      position: relative;

      .detail {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        > h2 {
          font-size: var(--fs-12);
          font-weight: 800;
          color: var(--primary);
        }

        > span {
          font-size: var(--fs-4);
          font-weight: 400;
          color: var(--gray-600);
          opacity: 0.9;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .icon {
        aspect-ratio: 1/1;
        width: var(--px-96);
        height: auto;

        border: 1px solid var(--primary);
        border-radius: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--gray-100);

        font-size: var(--fs-12);
      }
    }
    .panelCard:nth-of-type(1) {
      border-color: var(--btn-save);

      .icon {
        color: var(--btn-save);
      }
    }
    .panelCard:nth-of-type(2) {
      border-color: var(--btn-warning);

      .icon {
        color: var(--btn-warning);
      }
    }
    .panelCard:nth-of-type(3) {
      border-color: var(--btn-danger);

      .icon {
        color: var(--btn-danger);
      }
    }
    .panelCard:nth-of-type(4) {
      border-color: var(--btn-info);

      .icon {
        color: var(--btn-info);
      }
    }
  }

  .data {
    min-width: 0;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--px-24);

    border-radius: var(--px-16);
    border: 1px solid var(--primary);
    box-shadow: 1px 2px 1px var(--gray-500);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);

    padding: var(--px-24);

    > h2 {
      font-size: var(--fs-10);
      font-weight: 600;
      color: var(--secondary);

      display: flex;
      align-items: center;
      gap: var(--px-8);
    }

    .searchContainer {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: var(--px-8);
      flex-wrap: wrap;

      > input,
      > select,
      > button {
        min-width: 0;
        padding: var(--px-8) var(--px-16);
        font-size: var(--fs-5);
        font-weight: 400;
        color: var(--primary);

        background-color: var(--white);
        border-radius: var(--px-8);
        border: 1px solid var(--secondary);
      }
      > input {
        flex: 6;
      }
      > select {
        flex: 3;
        cursor: pointer;
      }

      > button {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        border-width: 2px;
        border-color: var(--btn-save);
        padding: var(--px-4);
        color: var(--btn-save);

        cursor: pointer;
      }
      > button[type="submit"] {
        border-width: 1px;
        border-color: var(--secondary);
        color: var(--secondary);
      }
      > button[type="submit"]:hover {
        background-color: var(--secondary);
        color: var(--white);
      }
      > button[type="button"]:hover {
        background-color: var(--btn-save);
        color: var(--white);
      }
      > button:active {
        transform: scale(0.9);
      }
    }

    .tableContainer {
      flex: 1;
      width: 100%;
      max-height: 100%;
      overflow: auto;

      display: flex;

      table {
        width: 100%;
        height: fit-content;
        table-layout: auto;
        border-collapse: collapse;

        > thead > tr > th {
          font-size: var(--fs-5);
          font-weight: 600;
          color: var(--primary);
          text-wrap: nowrap;
          text-align: center;

          border-bottom: 2px solid var(--thirdnary);
          padding: var(--px-4) var(--px-8);
        }

        > tbody > tr:hover {
          background-color: var(--thirdnary);

          td {
            color: var(--soft);
          }
        }

        > tbody > tr > td {
          font-size: var(--fs-5);
          font-weight: 400;
          color: var(--secondary);
          text-wrap: nowrap;
          text-align: center;
          padding: var(--px-4) var(--px-8);

          .action {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--px-8);

            > button {
              aspect-ratio: 1/1;
              height: var(--px-48);
              width: auto;

              display: flex;
              justify-content: center;
              align-items: center;

              font-size: var(--fs-10);
              padding: var(--px-8);

              background-color: var(--white);
              border-radius: var(--px-8);
              border: 1px solid;
            }
            > button[title="View"] {
              border-color: var(--btn-save);
              color: var(--btn-save);
            }
            > button[title="Edit"] {
              border-color: var(--btn-info);
              color: var(--btn-info);
            }
            > button[title="Delete"] {
              border-color: var(--btn-danger);
              color: var(--btn-danger);
            }
            > button:hover {
              cursor: pointer;
              background-color: var(--primary);
              border-color: var(--white);
              color: var(--white);
            }
            > button:active {
              transform: scale(0.9);
            }
          }
        }
        > tbody > tr > td[content="text"] {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .paginateContainer {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: var(--px-16);
      border-top: 2px solid var(--secondary);

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--px-8);
        padding: var(--px-8) var(--px-16);

        background-color: transparent;
        border: 2px solid var(--secondary);
        border-radius: var(--px-16);

        font-size: var(--fs-5);
        font-weight: 400;
        color: var(--gray-900);
        cursor: pointer;
      }
      > button:hover {
        background-color: var(--secondary);
        color: var(--white);
      }
      > button:disabled {
        background-color: unset;
        border-color: var(--gray-500);
        border-width: 1px;
        color: var(--gray-500);
        cursor: not-allowed;
      }

      .page {
        display: flex;
        height: 100%;
        width: fit-content;
        gap: var(--px-4);

        > span {
          aspect-ratio: 1/1;
          height: 100%;
          width: auto;

          background-color: var(--secondary);
          border: 1px solid var(--secondary);
          border-radius: var(--px-8);
          color: var(--white);

          font-size: var(--fs-5);
          font-weight: 500;
          line-height: 1;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        > span[inactive="true"] {
          background-color: var(--white);
          color: var(--secondary);
          cursor: pointer;
        }
      }
    }
  }
  .data[rank="full"] {
    width: 100%;
    max-width: unset;
    flex: 1;
  }
  .data[rank="1"] {
    flex: 1 1 200px;
  }
  .data[rank="2"] {
    flex: 1 1 200px;
  }
  .data[rank="3"] {
    flex: 2 1 100%;
  }
}
.main:has(.data[rank="full"]) {
  flex-wrap: unset;
  flex-direction: column;
}
